# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
sls/
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Test / Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log


# Temporary Files
*.tmp
*.temp

# Build
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Environment Variables
.env

# Generated Visualizations
#outputs/
#results/
#evaluation/