<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spot Fake Photo Detector</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <h1>Spot Fake Photo</h1>

      <p class="subtitle">
        Detect whether an image is a REAL PHOTO or a PHOTO OF A SCREEN.
      </p>

      <div class="cameraContainer">
        <video id="video" autoplay playsinline></video>

        <canvas id="canvas"></canvas>

        <img id="preview" />
      </div>

      <div class="buttons">
        <button id="captureBtn">📷 Capture Image</button>

        <label class="uploadBtn">
          📁 Upload Image
          <input type="file" id="imageInput" accept="image/*" />
        </label>
      </div>

      <div id="loading">Predicting...</div>

      <div id="result">
        <h2 id="prediction"></h2>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
